.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;

}

.orange{
  background-color: #ff8e3c;
}

mat-sidenav{
  width: 10%;
  background-color: #eff0f3;
  min-width: 200px;
}

mat-toolbar{
  background-color: #eff0f3;
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.199);
}

mat-sidenav-content{
  padding: 15px;
  background-color: #eff0f3;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.user-info{
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 20px;
}
.user-name{
  margin-left: 10px;
}

.menu-item{
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}
